/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
/* End Font */

/* Start Body */
body {
    background-color: whitesmoke;
    color: rgb(34, 0, 61);
    font-family: 'Handlee', cursive;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-greenyellow {
    background-color: rgb(112, 255, 183);
    border-radius: 15px;
}
.bg-khaki {
    background-color: khaki;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 92.5%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%; 
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover,
a:active {
    color: red;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(255, 104, 200);
    border-radius: 10px;
    text-align: center;
    box-shadow:
        0 3px 5px -1px rgba(233, 68, 164, 0.205),
        0 6px 10px 0 rgba(182, 17, 119, 0.14),
        0 1px 18px 0 rgba(121, 14, 67, 0.12);
}

.menu-primer li {
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: white;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: white;
    color: mediumvioletred;
    text-decoration: none;
}

.menu-primer .active {
    background-color: white;
    color: mediumvioletred;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px; 
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px; 
}
h5 {
    font-size: 16px;   
}
h6 {
    font-size: 14px;   
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: rgb(242, 219, 255);
    text-align: center;
    border: 1px solid #eaecee;
    border-radius: 15px;
    padding: 1px;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}

.jumbotron h3 {
    font-size: 20;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main Home */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 405px;
    text-align: justify;
}

.main-home-profil {
    float: left;
    width: 49.5%;
}

.main-home-visimisi {
    float: right;
    width: 49.5%;
}

.main-home-profil .box-isi1,
.main-home-visimisi .box-isi1 {
    height: 370px;
    text-align: justify;
}
/* End Main Home */

/* Start Box */
.box-heading {
    background-color: rgb(112, 255, 188);
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading1 {
    background-color: rgb(112, 255, 188);
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    color: black;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    height: auto;
}

.box-heading2 {
    background-color: rgb(112, 255, 188);
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    color: black;
    margin: 0;
    padding: 10px 20px;
    text-transform: none;
    height: auto;
}

.box-heading3 {
    background-color: rgb(112, 255, 188);
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    color: black;
    margin: 0;
    padding: 0px 10px;
    text-transform: none;
    height: 50px;
}

.box-heading-header {
    background-color: rgb(255, 206, 210);
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    color: black;
    margin: 0;
    padding: 0px 10px;
    text-transform: none;
    height: 50px;
}

.box-heading h3 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    text-align: justify;
}

.box-isi1 {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 550px;
    text-align: justify;
}

.box-isi2 {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    text-align: justify;
}

.box-isi3 {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    text-align: justify;
}

.box-isi4 {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 350px;
    text-align: justify;
}

.box-isi-alamat {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 500px;
    text-align: left;
}

.box-isi-form {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 700px;
}

.box-isi-pertanyaan {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 110px;
}

.box-isi-jawaban {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 460px;
}

.box-isi-pemesanan {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 130px;
}

.box-isi-pembayaran {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 365px;
}

.box-isi-konfirmasi {
    background-color: rgb(200, 252, 193);
    border: 1px solid #eaecea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: auto;
}
/* End Box */

/* Start Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    padding: 20px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 25px;
    padding: 20px;
}

.grid-item {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
/* End Grid */

/* Start Images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* End Images */

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #d1d5da;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: rgb(252, 142, 197);
    border-bottom: 1px solid #eaecee;
    border-top: 1px solid #eaecee;
    overflow: auto;
    padding: 10px 20px;
    width: 100%;
    border-radius: 15px;
}

.menu-sekunder h4 {
    font-size: 16px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 14px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 46%;
}

.menu-sekunder-two,
.menu-sekunder-three {
    width: 27%;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 14px;
    text-align: center;
}
/* End Copyright */
